{% load static %}
<!-- Contact -->
<section id="contact" class="contact">
    <div class="container">
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <h4>Start modeling your solar projects</h4>
                <p class="libre-text mt-50">
                    Solarize brings together proven tools like PVWatts and PVlib to create accurate solar performance models and reliable energy production estimates. We use trusted climate data and advanced calculations to help you understand how much energy your solar systems can generate under real-world conditions. Get in touch to learn how our data solutions can power your solar projects.
                </p>
                <a href="#contact" class="default-btn"> Get in touch <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <!-- Subscribe block -->
        <div class=" col-md-offset-1 col-md-5 col-sm-12">
            <div class="row center">
                <div class="newsletter">
                    <h4>ENERGY INSIGHTS</h4>
                    <p class="libre-text mb-50">Stay updated with the latest in renewable energy and solar power.</p>
                    <form action="#" method="post">
                        <div class="input_1">
                            <input type="text" name="email">
                            <span>Enter your email address</span>
                        </div>
                        <button id="submit_btn" class="default-btn">
                            Subscribe <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<hr style="color: white;">
<!-- Footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row mt-100 mb-50 footer-widgets">
            <!-- Start Contact Widget -->
            <div class="col-md-6 col-xs-12">
                <div class="footer-widget contact-widget">
                    <span style="display: flex; align-items: center;">
                        <img src="{% static 'onboarding/img/logo-large.png' %}" alt="SOLARIZE">
                        &nbsp;
                        <span>SOLARIZE</span></span>
                        <p>Harnessing the power of the sun with data intelligence.</p>
                        <ul class="social-icons">
                            <li>
                                <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a class="github" href="#"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- .col-md-3 -->
                <!-- End Contact Widget -->
                <!-- Start Contact Info -->
                <div class="col-md-3 col-xs-12">
                    <div class="footer-widget twitter-widget">
                        <h4>Contact</h4>
                        Email: pkibuka@milky-way.space
                        <br>
                        Phone: +254 746 801 049
                    </div>
                </div>
                <!-- .col-md-3 -->
                <!-- End Contact Info -->
                <!-- Start Company Links -->
                <div class="col-md-3 col-xs-12">
                    <div class="footer-widget company-links">
                        <h4>Platform</h4>
                        <ul class="footer-links">
                            <li><a href="{% url 'pv_modelling' %}">PV Modelling</li>
                            <li><a href="{% url 'climate_projection' %}">Climate Projection</a></li>
                            <li><a href="{% url 'data_sources' %}">Data Sources</a></li>
                            <li><a href="{% url 'solutions' %}">What We Do</a></li>
                        </ul>
                    </div>
                </div>
                <!-- .col-md-3 -->
                <!-- End Company Links -->
            </div>
            <!-- .row -->
            <!-- Start Copyright -->
            <div class="copyright-section">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; 2025 Solarize • Solar Energy Solutions</p>
                    </div>
                    <!-- .col-md-6 -->
                </div>
                <!-- .row -->
            </div>
            <!-- End Copyright -->
        </div>
    </footer>
